<!DOCTYPE html>

<html lang="pt-br">
    <head>
        
        <meta charset="UTF-8">
    
        <title>Terroir</title>
        
        <!-- Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel='stylesheet' href='/stylesheets/style.css'>
        
    </head>


    <body>
        <div class="meu_container topo">
            <button class="menu navbar-toggler" type="button" data-toggle="collapse" data-target="#my-navbar-collapse">
                <img class="logo_menu" src="./images/menu redondo.png">
            </button>
            <span class="divisor"></span>   
        </div> 
        <div class="collapse menu_vertical" id="my-navbar-collapse"> 
            <ul class="navbar-nav mr-auto">
                <a href="./main" ><li>Início</li></a>
                <a href="./new"><li>Cadastro de Clientes</li></a>
                <a href="#"><li>Cadastro de Produtos</li></a>
                          
            </ul>           
        </div>    

        <div class="container">            
            <div class="row d-flex justify-content-center">                
                <div class="col-12 ">                        
                    <div class="principal">
                        {{>_msg}}
                        {{{body}}}
                        
                    </div>  
                </div>           
            </div>    
        </div>
        

        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
        <script> $('[data-toggle="slide-collapse"]').on('click', function() {
            $navMenuCont = $($(this).data('target'));
            $navMenuCont.animate({'width':'toggle'}, 350);
        }); 
        </Script>
    </body>
</html>